@import url('https://fonts.googleapis.com/css?family=Montserrat|Rubik+Mono+One&display=swap');

    
body {
    max-width: 980px;
    margin: auto;

    background-color: #161617;
    border: 0px solid #cacacf;
    border-radius: 0px;
    padding: 8px 15px;
    color:#fff;
    font-size:18px;
   font-family: 'Montserrat', sans-serif;
    
   
}
h1, h2, h3, h4, h5, h6, header, main, footer, nav, p {
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 12px  12px;
    display: flex;
    flex-direction: column;
    max-height: 100px;
}
   
 .box {
    flex:17;
}

.box-2 {
    flex:1;
    justify-content: flex-end;
}


.top-header {
    display: flex;
}
.top-header .logo {
       
            font-family: 'Rubik Mono One', sans-serif;
    font-size: 3rem;
    text-align: left;
    
   
    }
.top-header .logo2  {
       
        border-radius: 5px; 
        
         font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
 ;
    
  }
  .box-3 .top-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    flex: 1;
    align-items: center;
    
   
    
}

.box-3 .top-menu li {
    list-style-type: none;
   
}

.box-3 .top-menu li a {
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #d8d8e8;
    padding: 2px;
    color:#fff;
}
    
    .box-3 .top-menu li a:hover {
    border: 3px solid #d8d8e8;
     border-radius: 3px;
    
}

@media (min-width: 600px) {
    
.box-3 nav {
        display: flex;
        align-items: center;
    }

.container-2 {
    background-image: url(../img/sport.jpg);
    background-position: center;
    background-size: cover;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}
@media (min-width: 600px) {
    .container-2 {
        min-height: 500px;
    }
}
.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 1px solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    background-color: transparent;
    min-width: 110px
    
    
     
    
}
.box-4 {
    flex:1;
 /*  background-color: #161617; */
text-transform: uppercase;
    text-decoration: none;
    padding: 2px;
    color:#fff;
}
.box-5 {
    flex:1;
}

.container-3 {
    max-width: 980px;
    margin: 0 auto;
    padding: 0px  0px;
    display: flex;
    flex-direction: row;
    max-height: 500px;
}
.box-6{
   flex:1; 
    max-width: 550px;
    margin: 15px;
    padding: 10px 10px;
}
.box-7{
    flex:1;
    max-width: 550px;
    font-family: 'Montserrat', sans-serif;
     font-size:18px;
     margin: 15px;
    padding: 10px 10px;
}
.content {
     font-size:18px;
     text-align: center;
     
}