@import url('https://fonts.googleapis.com/css?family=Montserrat|Rubik+Mono+One&display=swap');



body {
    max-width: 100%;
    margin: auto;

    background-color: #000000;
    border: 0px solid #cacacf;
    border-radius: 0px;
    padding: 8px 15px;
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;


}

h1,
h2,
h3,
h4,
h5,
h6,
header,
main,
footer,
nav,
p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 8px 8px;
    display: flex;
    flex-direction: column;
    max-height: 100px;
}

.box {
    flex: 16;

}

.box-2 {
    flex: 1;
    justify-content: flex-end;
}


.top-header {
    display: flex;
}

.top-header .logo {

    font-family: 'Rubik Mono One', sans-serif;
    font-size: 3rem;
    text-align: left;


}

.top-header .logo2 {

   

    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: left;
    ;

}

.menu { color: #fff;
background-color: #161617;
       background-size: cover;
        filter: alpha(Opacity=77);

        opacity: 0.77; 

}

.box-3 .top-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    flex: 1;
  
}

.box-3 .top-menu li {
    list-style-type: none;

}

.box-3 .top-menu li a {
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
    padding: 2px;
    color: #fff;
}

.box-3 .top-menu li a:hover {
    border: 1px solid #d8d8e8;



}

@media (min-width: 600px) {

    .box-3 nav {
        display: flex;
        align-items: center;
    }

    .container-2 {
        background-image: url(../img/sport.jpg);
        background-position: center;
        background-size: cover;
        /*filter: alpha(Opacity=60);

        opacity: 0.60; */
        min-height: 300px;

        display: flex;

        flex-direction: row;
margin-top: -55px;
        font-family: 'Montserrat', sans-serif;
        align-items: center;
        padding-left: 10%;



    }
    @media (min-width: 200px) {
        .container-2 {
            min-height: 200px;

        }
    }
    .button {
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 1px solid #FFFFFF;
        margin: 10px 10px;
        border-radius: 8px;
        box-sizing: border-box;
        text-decoration: none;
        font-weight: 300;
        color: black;
        text-align: center;
        transition: all 0.2s;
        background-color: white;
        width: 110px;
        height: 30px;
    }
    .transparent75 {
        /*filter: alpha(Opacity=80);

        opacity: 0.80;*/
    }
    .box-4 {
        width: 300px;
        height: 350px;
        background-color: #161617;
        text-align: left;
        border-radius: 8px;
        margin: 150px auto 100px auto;

        text-decoration: none;
        padding: 2px;
        color: #fff;
        padding-left: 30px;
        padding-top: 21px;
        filter: alpha(Opacity=77);

        opacity: 0.77;

    }

    input {
        width: 255px;
        height: 25px;
        font-size: 13px;
        /* margin-bottom: 10px;*/
        border-radius: 10px;
        padding-left: 10px;
    }
    .box-5 {
        flex: 1;
        padding-left: 200px;
        color: white;


    }

    .container-3 {
        max-width: 100%;
        margin: 0 auto;
        padding: 0px 0px;
        display: flex;
        flex-direction: row;
        max-height: 500px;

    }

    .box-6 {
        flex: 1;
        max-width: 550px;
        margin: 15px;
        padding: 10px 10px;
    }
    .box-7 {
        flex: 1;
        max-width: 550px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        margin: 15px;
        padding: 10px 10px;
    }
    .content {
        font-size: 18px;
        text-align: center;
        padding-left: 30px;
        padding-top: 21px;
       

    }
    .box-8 {

        flex font-family: 'Montserrat', sans-serif;
        font-size: 18px;
    }

.container-4 {
        max-width: 100%;
        margin: 0 auto;
        padding: 0px 0px;
        display: flex;
        flex-direction: row;
        max-height: 500px;
    }
    .box-9 {
        flex: 1;
        max-width: 900px;
       
       
       
    }
.box-10 {
     

        flex font-family: 'Montserrat', sans-serif;
        font-size: 18px;
         padding-top: 15%;
     
    }